[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/git-emacs"]
	path = site-lisp/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://github.com/magit/magit.git
[submodule "site-lisp/ac-slime"]
	path = site-lisp/ac-slime
	url = git://github.com/purcell/ac-slime.git
[submodule "site-lisp/ntemacs-cygwin"]
	path = site-lisp/ntemacs-cygwin
	url = https://github.com/ajukraine/ntemacs-cygwin.git
[submodule "site-lisp/monky"]
	path = site-lisp/monky
	url = git://github.com/ananthakumaran/monky.git
[submodule "site-lisp/csharp-mode"]
	path = site-lisp/csharp-mode
	url = git://github.com/mbarbon/csharp-mode.git
